@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Visit other pages:</p>
    <ul>
        <a asp-controller="Vehicle" asp-action="Index">View Vehicles</a>
        <a asp-controller="Vehicle" asp-action="Create">Add Vehicle</a>
        <li><a asp-controller="Trip" asp-action="Index">View Trips</a></li>
        <li><a asp-controller="Trip" asp-action="Create">Add Trip</a></li>
        <li><a asp-controller="Person" asp-action="Index">View Persons</a></li>
        <li><a asp-controller="Person" asp-action="Create">Add Person</a></li>
        <li><a asp-controller="Issue" asp-action="Index">View Issues</a></li>
        <li><a asp-controller="Issue" asp-action="Create">Add Issue</a></li>
        <!-- Add more links as needed -->
    </ul>
</div>
