@model Vehicle

<h1>Delete Vehicle</h1>

<h3>Are you sure you want to delete this vehicle?</h3>
<div>
    <h4>VIN: @Model.VIN</h4>
    <h4>Make: @Model.Make</h4>
    <h4>Model: @Model.Model</h4>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="VIN" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index">Back to List</a>
</form>
